<!--サインアップ-->
<%= render :partial => "/list" %>
<div style="text-align:center;">
<h4 style="color:white" class="pt-5 pb-5">プロジェクトメンバーになろう！</h4>

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container pt-4 px-3 pb-4 mx-auto" style="background-color: #808080;" >
    <div class="row bgblue">
      
      <div class="col-4">
      <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= image_tag 'noimage.png', size: "120x120" %>
          <%#= f.label :profile_image %><br>
          <%#= f.attachment_field :profile_image, size: "100x120", fallback: "noimage.png" %>
        </div>
      </div>
      
      
      <div class="col-6">
        <table>
          <tr>
            <div class="field" style="color:white">
              <td style="color:white"><%= f.label :ニックネーム %></td>
              <td class="pl-5"><%= f.text_field :name, autofocus: true %></td>
            </div>
          </tr>
          <tr>
            <div class="field" style="color:white">
              <td style="color:white"><%= f.label :メールアドレス %></td>
              <td class="pl-5"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </div>
          </tr>
          <tr>
            <div class="field" style="color:white">
              <td style="color:white"><%= f.label :パスワード %></td>
              <td class="pl-5">
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %></td>
            </div>
          <tr>
            <div class="field" style="color:white">
              <td style="color:white"><%= f.label :パスワード（確認） %><br />
              <td class="pl-5"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </div>
          </tr>
        </table>
      </div>
      
      </div>
      </div>
      
      
      <div class="actions pt-4 px-3">
        <%= f.submit "新規登録", class:'btn btn-info' %>
      </div>
      <div style="color:#d3d3d3;" class="pt-5">
        <p><%= link_to"登録がお済みの方はこちらからログイン", new_user_session_path %></p>
      </div>
  <% end %>
  <%#= render "devise/shared/links" %>
  
</div>

