<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>世界が豊ゆたかに発はっ展てんしていくために</b><br>
みんなが幸せで，豊かに暮らせる世界をつくるには，さまざまな産業が発展していくことが必要です。<br>
そのためには、持続可能な仕組みを考えていかなくてはなりません。<br>
わたしたちの身近な暮らしにもさまざまなイノベーションの技術が生かされています。</p>

<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal9.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　災害に強くて丈夫なインフラを整えてだれもが使えるようにする</p>
      <p style="color:white">●　イノベーション（技ぎ術革新）で産業の発展を推進する</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>