<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>いろいろな不平等</b><br>
世界には，いろいろな不平等があります。<br>
先進国と途上国、途上国と後発途上国、同じ国や地域の中でも豊かな人と貧しい人，男性と女性、障がいがある人とない人、人種、民族、宗教…。<br>
これらの違いがもたらす不平等を減らすことは、世界の幸せのためにはとても大切です。</p>

<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal10.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　国と国の不平等を減らす</p>
      <p style="color:white">●　同じ国の中にある不平等を減らする</p>
    </div>
  </div>
</div>



<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>