<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>あらゆる人の協力でSDGsを達成する</b><br>
SDGsの17の目標は幅広い分野にわたります。<br>
SDGsを実現していくのは、国、企業や研究者、市民団体、地域、学校、家庭、そしてわたしたち一人ひとりがSDGsの担手です。<br>
積極的に関心を持ち、考え、行動に起こすこと。<br>
それが地球の抱える複雑で難しい問題を解決していくことになります。</p>

<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal17.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　持続可能な開発に向けて、必要な行動や方法を強化する</p>
      <p style="color:white">●　世界中のあらゆる人たちが協力するパートナーシップを充実させる</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>