<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>気候変動とは？</b><br>
熱波や干ばつ、集中豪雨、大型台風など、世界中でさまざまな自然災害が起こっています。<br>
その影響は農業や水産業、飲み水の確保、エネルギーなど、あらゆる分野に及び、わたしたちの暮らしに深刻な被害をもたらしています。<br>
こうした災害は、地球温暖化が引き起こすさまざまな気候の変化（気候変動）が要因になっています。</p>

<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal13.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　気候変動やその影響を減すための具体的な対策を考え、今すぐ行動する</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>