<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>人間らしい働き方って？</b><br>
世界には働きたいと思っているのに仕事がない失業者が約1.9億人います。<br>
仕事があっても５人に１人は十分な収入を得ることができず貧困から抜け出す事ができずにいます。<br>
働きがいがあり十分な収入が得られる仕事をディーセント・ワークといいます。<br>
地球のみんなが幸せに暮くらすためには、ディーセント・ワークをいかに実現できるのか考えていかなくてはなりません。</p>


<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal8.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　環境を守り，持続可能な経済成長を進める</p>
      <p style="color:white">●　すべての人が働きがいと十分な収入のある仕事につく</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>