<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>都市の暮くらし</b><br>
多くの人が住み、住居、商業施設、会社や公共施設が集まる都市。<br>
経済や文化の中心であり、学校、交通や金融などの生活に欠かせない様々な基盤が揃っています。<br>
2050年には68％、世界の人口の３分の２が都市に住むと予想されています</p>

<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal11.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　安全で，災害に強いまちや人々の住む場所をつくる</p>
      <p style="color:white">●　災害などがあっても早く回復できる，持続可能なまちづくりをする</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>