<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>世界の水事情</b><br>
蛇口をひねるとすぐに安全な飲み水が出る水道、学校や公園などに整備された清潔なトイレ。<br>
日本には，安全で衛生的に水を利用できる環境が整っていますが、実はこのような国は世界でも数えるほどしかありません。<br>
世界の人口の約３分の１，約22億人が，安全な飲み水を使えません。</p>


<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal6.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　すべての人が安全な水と衛生的な環境を使えるようにする</p>
      <p style="color:white">●　限りある水資源を将来にわたって使うための取り組みを進める</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>