<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    

<p style="color:white" class="pl-2 pt-5"><b>未来をつくる教育</b><br>
日本では小学校・中学校の９年間が義ぎ務む教育で、すべての子どもたちが教育を受ける権利を持っています。<br>
しかし，世界には学校に通えない子どもたちが約1.2億人もいます。<br>
小学校に入学する歳になっても学校に通っていない子どもたちの約半分は，紛争や戦争のある場所に暮らしています。<br>
教育を受けることがその貧まずしさから抜け出だし、安定した収入のある仕事に就くチャンスにつながります。</p>


<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal4.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　誰もが平等に質の高い教育を受けられる環境をつくる</p>
      <p style="color:white">●　子どもも大人もいつでも学ぶことができる</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>

</div>