<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>「ジェンダー」って何？<br>
「男性はこうあるべき、女性はこうすべき」と無意識に決めつけている女性と男性の違いを「ジェンダー」といいます。<br>
例えば「外で働くのは男性で、家のことをするのは女性」「男性は青、女性はピンク」と決めつけること。<br>
こういった先入観がジェンダーの不平等や差別を生んでいます。<br>

<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal5.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　すべての女性や女の子が能力を最大限に発揮できる社会をつくる</p>
      <p style="color:white">●　すべての人が性別に関わらず平等に機会が与えられる社会をつくる</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>