<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>地球が１つでは足りない？！</b><br>
世界ではたくさんの資源やエネルギーを使って多くのものを生産しています。<br>
このような大量生産・大量消費の暮らしは、地球にとても大きな負担をかけています。<br>
豊かな地球の資源には限りがあります</br>
私たちはずっと続けられるような生産や消費をしていくことで、美しい地球を未来につなぐ責任があります。</p>

<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal12.png', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　持続可能な方法で生産し、責任をもって消費する</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>