<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>生物多様性を育む自然</b><br>
人の暮しは山や川、海、そして森に囲まれた自然とそこで生きるたくさんの生き物に支えられています。 <br>
わたしたち人間の暮くらしが豊かになるにつれて、生物多様性を守る自然がどんどん破壊されてしまいました。<br>
森が失われ、多くの生き物が絶滅の危機にあります。</p>

<div class="container pt-5">
  
  
  

  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal15.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　陸の生態系を守り、再生する</p>
      <p style="color:white">●　陸の生態系を持続可能な方法で利用する</p>
      <p style="color:white">●　森林を管理して砂漠化を防ぐ</p>
      <p style="color:white">●　土地が悪くなることを止めて再生する</p>
      <p style="color:white">●　たくさんの種類の生き物がつながって生きている多様性を守る</p>
      
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>