<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>争いのない世界を目指して</b><br>
世界には今、この瞬間もどこかで紛争や戦争などの争いごとが起きています。<br>
たくさんの人が争いごとや暴力、迫害で命をうばわれたり、家族を失ったりするなどのつらく悲しい思いをしています。<br>
あらゆる争いごとをなくして、平和を実現すること。<br>
そのためにも，法律などの公正な制度を誰もが利用できることが大切になってきます。<br></p>


<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal16.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　みんなが安心して参加できる平和な社会をつくる</p>
      <p style="color:white">●　公正な法律にもとづいた暮しをみんなができる</p>
      <p style="color:white">●　地域・国・世界といったあらゆるレベルで公正な司法制度を利用できる</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>