<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
<p style="color:white" class="pl-2 pt-5"><b>「飢餓」って何だろう？</b><br>
今，世界では約6.9億人が飢餓きがに苦しんでいます。<br>
飢餓きがが最も広がっている地ち域いきはアフリカで，どの地ち域いきでも飢餓きがに苦しむ人の割合がゆっくりと増ふえています。<br>
そして，飢餓きが人口が最も多いのはアジアで（特に南アジア），3.8億人以上もの人が飢餓きがで苦しんでいます。</p>
<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal2.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　すべての人に安全で栄養のある食料を確保</p>
      <p style="color:white">●︎　あらゆる形の栄養不足を解消する</p>
      <p style="color:white">●︎　持続可能な農業を進める</p>
    </div>
  </div>
</div>d

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>