<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>海は全ての生命の源</b>
地球の面積の７割を占しめる海。<br>
この豊かな海は地球のあらゆる命の源です。海からはわたしたちが生きるための食べものなど、多くの恵を受け取っています。<br>
世界的な健康ブームで魚を食べる人が増え、魚を獲る量が増加し、違法な漁業も増えています。<br>
その結果魚資源が減ってしまい、まだ十分に利用できる水産資源がたったの6.2％になってしまいました。</p>


<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal14.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　持続可能な社会のために、海と海の資源を守る</p>
      <p style="color:white">●　海と海の資源を持続可能な方法で利用する</p>
    </div>
  </div>
  
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>