<%= render :partial => "/list" %>
<div class="container">
  
  <!--<div class="row">-->
    <h4 style="color:white" class="pt-3 pl-5"><%= @user.name%>さんの“好き”一覧</h4>
    <!--</div>-->
    <div class="row">
      <div class="pt-4 px-3 pb-4" style="background-color: #808080; width: 100%;" >
        <div style="color:white"><%= @user.favorite %></div>
      </div>
    </div>
    
    
<p style="color:white" class="pl-2 pt-5"><b>電気を使えない人は7.9億人も</b><br>
電気が使えない地域では薪や炭を燃もやして料理をしたり暖房に使ったりしています。<br>
煙で汚れた空気で健康をそこなうことにもなります。<br>
また，貧しい人々は，夜でも明かりを使うことができず，仕事や勉強ができません。途上国では，外灯の灯りで勉強をする子どももいます。</p>
<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal7.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　すべての人が手ごろな価格で近代的なエネルギーを使える</p>
      <p style="color:white">●　環境に良いクリーンな再生可能エネルギーを増やす</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", sdgs_path, class:'btn btn-danger' %>
</div>