<nav class="navbar navbar-light mb-2", style="background:#008080">
  
  <!--ロゴ-->
  <%#= image_tag 'logo.jpg', size: "80x80" %>
  <%#= javascript_tag '/packs/home', 'data-turbolinks-track': 'reload' %>
  <P>○年○月○日△時△分△秒</p>

  <div>
    <ul class="nav pull-right nav-pills">
    <% if user_signed_in? %>
      <li class="nav-list"><%= link_to "プロフィール", class:'btn btn-outline-dark' %></li>
      <li class="nav-list"><%= link_to "SDGsについて", class:'btn btn-outline-dark' %></li>
      <li class="nav-list"><%= link_to "プロジェクト",class:'btn btn-outline-dark' %></li>
      <li class="nav-list"><%= link_to "sign out", destroy_user_session_path, method: :delete, class:"btn btn-outline-dark" %></li>
    <% else %>
      <li class="nav-list"><%= link_to "sign up", new_user_registration_path, class:"btn btn-outline-dark" %></li>
      <li class="nav-list"><%= link_to "sign in", new_user_session_path, class:"btn btn-outline-dark" %></li>
    <% end %>
    </ul>
  </div>
</nav>

<body style="background-color:#000000; text-color:color:white;"></body>

<footer>
  <div class="h-50000"></div>
</footer>